name: Deploy CN site to COS

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build deploy-cn folder
        run: |
          chmod +x build-cn.sh
          ./build-cn.sh

      - name: Install COSCLI
        run: |
          curl -fsSL https://coscli.cloud.tencent.com/install.sh | sh
          ls -R $HOME/coscli  # 调试用，可看到 coscli 是否在这里

      - name: Sync deploy-cn to COS
        env:
          TENCENT_SECRET_ID: ${{ secrets.TENCENT_SECRET_ID }}
          TENCENT_SECRET_KEY: ${{ secrets.TENCENT_SECRET_KEY }}
        run: |
          $HOME/coscli/coscli sync ./deploy-cn cos://steplog-cn-1390433657/ \
            --region ap-hongkong \
            --secret-id "$TENCENT_SECRET_ID" \
            --secret-key "$TENCENT_SECRET_KEY" \
            --delete --force
